@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
body {
    background-color: #0A031D;
    background-image: url("/home/atharva/GUI/fig-dash/resources/icons/wallpaper/ironman.gif");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
}

.container {
    width: 70%;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    font-family: 'Be Vietnam Pro', sans-serif;
    word-wrap: break-word;
    font-size: 15px;
    justify-content: center;
    /* 
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    padding: 1em 0;
    user-select: none;
     */
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.card-title {
    color: gray;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}

.search-engine-card {
    color: #fff;
    margin: 5px; 
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center; 
    border-radius: 5px;
}

.search-engine-card:hover {
    color: #fff;
    /* font-weight: bold; */
    /* background: linear-gradient(45deg, rgba(235,95,52,1) 0%, rgba(235,204,52,0.6) 94%); */
    background: rgb(74,16,33);
    background: radial-gradient(circle, rgba(74,16,33,1) 19%, rgba(90,16,33,1) 40%, rgba(255,142,108,1) 65%, rgba(255,252,120,1) 87%);
    box-shadow: 0px 0px 40px 4px rgba(255,142,108,1);
}
/* 
    #fffc78   
    #ff8e6c 
    #5a1021
    #4a1021 
*/
.search-engine-title {
    font-size: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}

.search-bar {
    color: #000;
    background: transparent;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 30px; */
}

.search-input {
    width: 500px; 
    height: 20px; 
    border: 0px;
    font-size: 17px; 
    font-family: 'Be Vietnam Pro', sans-serif;
    color: gray;
    text-align: center; 
    background: url(file:///home/atharva/GUI/fig-dash/resources/icons/browser/search.svg) no-repeat scroll 5px 3px; 
}

.search-input:focus {
    outline: none !important;
}

.search-input:hover {
    background: url(file:///home/atharva/GUI/fig-dash/resources/icons/browser/search_active.svg) no-repeat scroll 5px 3px; 
}