body {
    background-color: #0A031D;
    background-image: url("/home/atharva/GUI/fig-dash/resources/icons/lava_lamp2.gif");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
}